body {
  font-family: 'Space Mono', monospace;
  background-color: hsl(185, 41%, 84%);
  font-size: 24px;
  color: hsl(183, 100%, 15%);
}

h1 {
  text-align: center;
  margin-top: 50px;
}

h2 {
  color: hsl(172, 67%, 45%);
}

h3 {
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  margin-top: 0;
}

.reset {
  background-color: hsl(186, 28%, 43%);
  color: hsl(183, 100%, 15%);
  font-size: 28px;
  width: 80%;
  height: 50px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  border-style: none;
}

.main {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: space-around;
  width: 1000px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 35px;
  border-radius: 40px;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  margin-right: 50px;
}

.bill {
  display: flex;
  flex-direction: column;
}

.tip-selection {
  display: flex;
  flex-direction: column;
}

.people-amount {
  display: flex;
  flex-direction: column;
}

.boxes-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

.box {
  background-color: hsl(183, 100%, 15%);
  color: hsl(189, 41%, 97%);
  height: 50px;
  border-radius: 10px;
  font-family: 'Space Mono', monospace;
  font-size: 24px;
  border-style: none;
  display: grid;
  align-items: center;
  justify-content: center;
}

#custom {
  background-color: hsl(185, 41%, 84%);
  color: hsl(183, 100%, 15%);
  border-style: none;
}

.right-side {
  background-color: hsl(183, 100%, 15%);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 15px;
  color: hsl(189, 41%, 97%);
}

.tip-amount {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tip-output {}

.total-amount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.total-text {
  margin-left: 45px;
}

.total-output {
  margin-right: 46px;
}

.bill-input {
  width: 100%;
  text-align: right;
  background: url("https://cdn-icons-png.flaticon.com/512/126/126179.png") no-repeat left;
  background-size: 20px;
  border-radius: 8px;
  border-style: none;
  background-color: hsl(185, 41%, 84%);
  height: 50px;
}

.people-input {
  width: 100%;
  text-align: right;
  background: url("https://cdn-icons-png.flaticon.com/512/1077/1077114.png") no-repeat left;
  background-size: 20px;
  border-style: none;
  background-color: hsl(185, 41%, 84%);
  border-radius: 8px;
  height: 50px;
}

.clicked {
  background-color: hsl(185, 41%, 84%);
}

.clicked2 {
  background-color: hsl(185, 41%, 84%);
}

input[type="text"]::placeholder {
  text-align: right;
  padding-right: 10px;
}

input[type="text"] {
  font-family: 'Space Mono', monospace;
  font-size: 24px;
  margin-right: 20px;
}

.custom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(185, 41%, 84%);
  height: 150px;
  width: 400px;
  border-radius: 10px;
  z-index: 4;
  position: absolute;
  left: 40%;
  bottom: 40%;
  padding-bottom: 20px;
  visibility: hidden;
}

.custom-input {
  background-color: hsl(189, 41%, 97%);
  border-radius: 8px;
  height: 50px;
  border-style: none;
}

.custom-button {
  background-color: hsl(186, 28%, 43%);
  color: hsl(183, 100%, 15%);
  font-size: 28px;
  width: 35%;
  height: 50px;
  margin-top: 20px;
  border-radius: 8px;
  border-style: none;
}

.attribution {
  margin-top: 20px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
